<div class="footer">
  <div class="container">
    <div class="footer-contact">
      <a target="_blank" href="https://www.facebook.com/riseupnepal/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
      <br>
      <a target="_blank" href="#"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="horizontal-line"></div>
    <div class="sponsors">
      <img src="http://riseup.utv2.hemsidor.nu/wp-content/uploads/2014/03/teschovermo.png">
      <img src="http://citynaprapaterna.se/wp-content/themes/citynaprapaterna/images/logo_citynaprapaterna.png">
      <img src="http://riseup.utv2.hemsidor.nu/wp-content/uploads/2014/03/naturetrust.png">
      <br>
      <img src="http://riseup.utv2.hemsidor.nu/wp-content/uploads/2014/04/getupdate_200px.png">
      <img src="http://www.sonora.se/wp-content/uploads/2015/11/sonora_logo_400.png">
      <br>
      <img src="http://riseup.utv2.hemsidor.nu/wp-content/uploads/2014/06/Miredo_logo_200.png">
      <img src="http://riseup.utv2.hemsidor.nu/wp-content/uploads/2014/03/advokatfirman.png">
      <img src="http://www.babycard.se/assets/images/logotypes/1286-totalkropp.png">

    </div>
  </div>
</div>
