<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:30px; top:150px;">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>

</div>

<script async src="https://static.addtoany.com/menu/page.js"></script>
