.footer {
  height: 200px;
  background-color: #e1bee7;
  position: sticky;
  margin-top: 40%;
}

.footer-contact {
  margin-left: 10px;
  padding-top: 40px;
}

.sponsors {
  margin-left: 50%;
  margin-top: -170px;
  padding-left: 20px;
}

.horizontal-line {
  height: 170px;
  width: 1px;
  background-color: black;
  margin-left: 45%;
  margin-top: -90px;
}
